#bg{
	position: fixed;
	width: 100%;
	height: 100%;
	background:linear-gradient(180deg, rgba(0,0,0,.75), rgba(0,0,0,.95), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1),rgba(0,0,0,.95), rgba(0,0,0,.75));
	z-index: -1;
}

body {
	font-family: 'Lato',Helvetica,Arial,sans-serif;

}

h1{
	transform: translate(0, -2rem);
	background-color: #ffd32a;
	padding:15px;
	color: #000;
	text-align: center;
	font-weight: bold;
	font-family: 'Lato',Helvetica,Arial,sans-serif;

}

h2 {
	color: #ddd;
}

h4 {
	margin-top: 20px;
}

.container{
	color: #ddd;
}

.display{
	padding: 10px 0 10px 0;
	margin-left:0;
	font-size: 2rem;
	border: 2px solid #555;
	border-radius: 4px;
	padding: 6px;
}
.input{
	padding: 10px 0 10px 0;
	font-size: 2rem;
	display: inline !important;
}
#inputETA{
	padding:20px;
	margin: 10px;
	margin-left: 0;
	width: 220px;
	font-size: 2rem;
	display: inline-block;

}
#bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, .75), rgba(0, 0, 0, .95), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, .95), rgba(0, 0, 0, .75));
    z-index: -1;
}

body {
    font-family:'Lato', Helvetica, Arial, sans-serif;
}

h1 {
    transform: translate(0, -2rem);
    background-color: #ffd32a;
    padding: 15px;
    color: #000;
    text-align: center;
    font-weight: bold;
    font-family:'Lato', Helvetica, Arial, sans-serif;
}

h2 {
    color: #ddd;
}

h4 {
    margin-top: 20px;
}

.container {
    color: #ddd;
}

.display {
    padding: 10px 0 10px 0;
    margin-left: 0;
    font-size: 2rem;
    border: 1px solid #555;
    border-radius: 4px;
    padding: 6px;
}

.input {
    padding: 10px 0 10px 0;
    font-size: 2rem;
    display: inline !important;
}

#inputETA {
    padding: 20px;
    margin: 10px;
    margin-left: 0;
    width: 220px;
    font-size: 2rem;
    display: inline-block;
}

.btn {
    padding: 1rem;
    display: inline !important;
}

#update {
    /*transform:translate(47rem, -5.2rem);*/
    display: inline;
    font-size: 1em;
}

#status {
    border-radius: 100px;
    background-color: green;
    color: green;
    display: inline;
    font-size: 2em;
}

.trip-info {
    display: inline-block;
}

#currETA {
    background-color: none;
    width: 68px;
    height: 42px;
    display: inline-block;
}

.currETA-dispatch {
    background-color: none;
}
.btn{
	padding:1rem;
	display: inline !important;
}
#update{
	/*transform:translate(47rem, -5.2rem);*/
	display: inline;
	font-size: 1em;

}

#status{
	border-radius: 100px;
	background-color: green;
	color:green;
	display: inline;
	font-size: 2em;
}

.trip-info {
	display: inline-block;
}

#currETA {
	background-color: none;
	width: 68px;
	height: 42px;
	display: inline-block;

}

.currETA-dispatch {
	background-color: none;
}

.nesty {
	max-width: 240px;
	text-align: left;
}
